<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criptomonedas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
        function filtrarCriptos() {
            let filtro = document.getElementById("search").value.toLowerCase();
            let items = document.getElementsByClassName("crypto");
            let noResultsMessage = document.getElementById("sin-resultados");
            let found = false;  // Track if any crypto matches

            for (let i = 0; i < items.length; i++) {
                let nombre = items[i].getElementsByClassName("name-crypto")[0].innerText.toLowerCase();
                if (nombre.includes(filtro)) {
                    items[i].style.display = "flex";
                    found = true;  // At least one match found
                } else {
                    items[i].style.display = "none";

                }
            }

            
            if (found) {
                noResultsMessage.style.display = "none";
            } else {
                noResultsMessage.style.display = "flex";
            }
        }
    </script>
</head>
<body>

    <header class="navbar">
        <h1><a href="{{ url_for('index') }}">CoinBase</a></h1>
        
        <div class="nav-right">
            {% if session.username %}
            <p>Bienvenido, {{ session.username }}! <a href="{{ url_for('logout') }}">Cerrar sesión</a></p>
            {% else %}
                <p><a class="login-button" href="{{ url_for('login') }}">Iniciar Sesión</a> <a class="register-button" href="{{ url_for('register') }}">Registro</a></p>
            {% endif %}

        </div>
        

    </header>
    

    <div class="search">
        <input type="text" id="search" onkeyup="filtrarCriptos()" placeholder="Buscar criptomoneda...">
    </div>

    <ol id="crypto-list">
        
        <li class="crypto-info-list">
            <span class="name">
                Criptomoneda
            </span>

            <span class="info">
                Precio
            </span>

            <span class="info">
                Cambio
            </span>
            
            <span class="info" style="margin-right: 10px;">
                Gráfico
            </span>
            
        </li>

        <div id="sin-resultados">No hay resultados</div>

        {% for cripto in criptomonedas %}

            <li class="crypto">
                
                

                <a href="{{ url_for('favorito', id=cripto.id) }}" class="favorite">
                    
                    {% if cripto.favorite %}<div class="yellow">★</div>{% else %}☆{% endif %}
                </a>

                    
                </div>
                <img src="{{ url_for('imagen', id=cripto.id) }}" class="img-crypto">
                <span class="name-crypto">
                    <a href="{{ url_for('cripto', id=cripto.id) }}">{{ cripto.name }}</a>
                    



                </span>
                <span class="price">
                    {{ cripto.price }} €
                </span>
                <span class="percentage {% if cripto.change_percentage >= 0 %}positive{% else %}negative{% endif %}">
                    {{ "%+.2f" | format(cripto.change_percentage) }}%
                </span>
                <img class="grafico" src="{{ url_for('static', filename='img/' + cripto.name.lower() + '.png') }}" alt="{{ cripto.name }}">
                

            </li>

   
        {% endfor %}
    </ol>
</body>
</html>
