<!DOCTYPE html>
<html>
<head>
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <div class="container">
    <header class="logo">
      <h1>CoinBase</h1>
    </header>
    <div class="form-box">
      <h2>Iniciar Sesión</h2>
      <form method="post">
        <input type="text" name="username" placeholder="Correo o usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <div class="btn-container">
          <button type="submit" class="btn">Login
            <div class="blocks">
              <div class="block"></div>
              <div class="block"></div>
              <div class="block"></div>
              <div class="block"></div>
            </div>
          </button>
        </div>
      </form>
      <p>¿No tienes cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a></p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
  </div>
</body>
</html>