<!DOCTYPE html>
<html>
<head>
  <title>Registro</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
  <div class="container">
    <header class="logo">
      <h1>CoinBase</h1>
    </header>
    <div class="form-box">
      <h2>Crear Cuenta</h2>
      <form method="post">
        <input type="text" name="username" placeholder="Nombre de usuario" required>
        <input type="email" name="email" placeholder="Correo electrónico" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <div class="btn-container">
          <button type="submit" class="btn">Registrarse
            <div class="blocks">
              <div class="block"></div>
              <div class="block"></div>
              <div class="block"></div>
              <div class="block"></div>
            </div>
          </button>
        </div>
      </form>
      <p>¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia sesión aquí</a></p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
  </div>
</body>
</html>