<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Registro</h1>
    <form method="post">
         <label>Usuario:</label>
         <input type="text" name="username" required>
         <br>
         <label>Contraseña:</label>
         <input type="password" name="password" required>
         <br>
         <input type="submit" value="Registrarse">
    </form>
    <p>¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia sesión aquí</a></p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
